.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    margin-top: var(--default-layout-header-height);
    max-width: 100%;
    // min-height: 1000px;
    // background-color: #333;
}

.content {
    flex: 1; // rest of space
    background-color: #ccc;
    min-height: 1000px;
}
