.wrapper {
    border-top: 1px solid #e3e3e4;
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1; //content ngắn quá thì tràn ra
    margin-left: 12px;
}

.check {
    margin-left: 4px;
    font-size: 1.4ren;
    color: #20d5ec;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.more-btn {
    font-size: 1.4rem;
    color: #fe2c55;
    font-weight: 700;
    padding: 8px;
    cursor: pointer;
}
