.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    display: flex;
    padding-left: 16px;
    // padding: 0 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search--border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1; // Các elements tràn ra
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        padding: 12px 0;
        padding-right: 40px;
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    // Khi Input được nhập thì đổi color
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.12);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.12);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search--border-radius);
    border-bottom-right-radius: var(--search--border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
